.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    .search-input {
        font-size: 16px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 0;
        padding-left: 5px;
        padding-right: 5px;
        width: 50%;
    }
    
    .search-btn {
        font-size: 16px;
        width: 70px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(0, 0, 0, 0.6);
        margin: 0;
        outline: none;
        cursor: pointer;
        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }
}

.results-container {
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-flow: dense;
    justify-content: center;
    .result {
        text-decoration: none;
        color: black;
        .result-text {
            margin-top: 5px;
            .result-text-artist {
                display: block;
                margin-top: 5px;
            }
        }
    }
}